/* The basic universal stuff */

:root {
    --main-bg-color: gold;
    --main-text-color: black;
    --sec-bg-color: rebeccapurple;
    --sec-bg-color-hl: rgb(134, 60, 207);
    --sec-text-color: whitesmoke;
    --sec-text-color-hl: white;
}
html {
    box-sizing: content-box;
}

body {
   margin: 0;
   padding: 0;
   background-color: var(--main-bg-color);
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.button-style {
    border: none;
    font-size: 30px;
    padding: 5px 20px;
    background-color: var(--sec-bg-color);
    color: var(--sec-text-color);
    transition: all 0.3s ease;
    text-align: center;
}

.button-style:hover,
.button-style:focus {
    background-color: var(--sec-bg-color-hl);
}


/* The header styling */

header {
    background-color: var(--sec-bg-color);
    box-shadow: 0 0 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 15px;
    color: var(--sec-text-color);
}

header p {
    color: var(--sec-text-color);
    font-size: 14px;
}

/* The main styling */

main section {
    background-color: whitesmoke;
    box-shadow: 0 0 20px black;
    margin: 50px;
    padding: 40px;
    height: 70vh;
}

#start-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    margin: 0;
    font-weight: normal;
    text-align: center;
    color: var(--main-text-color);
    line-height: 1.7;
}

#timer {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    text-align: center;
}

#quiz-box {
    display: flex;
    justify-content: center;
}

section .ready-h2 {
    margin: 30px 0;
}

/* Stuff pertaining to the high score display begins here */

#high-scores {
    border: none;
    border-radius: 15px;
    position: absolute;
    left: 50px;
    top: 77px;
    font-size: 16px;
    font-weight: bold;
    color: var(--sec-bg-color);
    background-color: var(--sec-text-color);
    padding: 5px 10px;
    transition: all 0.3s ease;
}


#high-scores:hover,
#high-scores:focus {
    color: var(--sec-bg-color-hl);
    background-color: var(--sec-text-color-hl);
    border: -1px solid var(--sec-bg-color-hl);
}

#score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#score-box h2 {
    text-align: center;
}

#score-box button {
    font-size: 16px;
    padding: 5px 10px;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    width: 50%;
    margin: 5px 60px 0 0;
}

ol li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    background-color: var(--sec-bg-color);
    color: var(--sec-text-color);
}

ol li:nth-child(2n) {
    background-color: var(--sec-text-color);
    color: var(--main-text-color);
}

/* Stuff pertaining to the high score display ends here */

/* The Question style begins here */

#question-box {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

#question-box li {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--sec-bg-color);
    color: var(--sec-text-color)
}

#question-box li:hover {
    background-color: var(--sec-bg-color-hl);
    color: var(--sec-text-color-hl);
}

#correctness {
    font-size: 48px;
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: center;
    opacity: 0;
}


/* The Question style ends here */

/* Submit Score style starts here */

#ending-box {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#ending-box input[type="text"] {
    width: 50px;
    margin: 10px
}

#ending-box input[type="submit"] {
    font-size: 16px;
    margin: 10px;
}

/* Submit Score style ends here */

/* Media queries begin here */

@media screen and (max-width: 860px) {
    #ending-box {
        width: 100%;
    }

    #ending-box p {
        font-size: 12px;
        text-align: center;
    }
}

/* Media queries end here */